<!DOCTYPE html>
<html lang="en">

{% extends "portfoliobase.html" %}

{% block head %}
<h1>Portfolio</h1>
{% endblock %}


{% block body %}
{% for data in datalist: %}
{% set greeting = data["greeting"] %}
{% set embed = data["embed"] %}

<h2>{{greeting}} <span style='color:white;'></span></h2>
<ol>
    {% if 'embed' in data %}
    <li>{{job}} link: <span style='color:midnightblue;'>{{embed}}</span></li>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe style="width:100%; height:50%;" class="embed-responsive-item" src={{embed}} ></iframe>
    </div>
    {% endif %}
</ol>

{% endfor %}
{% endblock %}

</html>